---
import { TAGS } from "../constants/Tags.js";
import { Icon } from 'astro-icon/components'
import Tag from "./Tag.astro";

const LANGUAGE_SKILLS = [
    TAGS.PYTHON,
    TAGS.BASH,
    TAGS.GO,
    TAGS.JAVASCRIPT,
    TAGS.CPP
    
];
const FRAMEWRK_SKILLS = [
    TAGS.FLUTTER,
    TAGS.ANGULAR,
    TAGS.REACT,
    TAGS.ASTRO,
    TAGS.COMPOSE,
    TAGS.SWIFTUI,
    TAGS.SPRING,
    TAGS.EXPRESS,
    TAGS.TAILWIND,
];
const CLOUD_SKILLS = [
    TAGS.AWS,
    TAGS.KUBERNETES,
    TAGS.DOCKER,
    TAGS.ISTIO,
];
const AUTOMATION_SKILLS = [
    TAGS.CFN,
    TAGS.HELM,
    TAGS.TERRAFORM,
    TAGS.SLACK,
];
const CICD_SKILLS = [
    TAGS.GITLAB,
    TAGS.JENKINS,
];
const LM_SKILLS = [
    TAGS.PROMETHEUS,
    TAGS.GRAFANA,
    TAGS.PAGERDUTY,
    TAGS.DATADOG,
    TAGS.SUMOLOGIC
];
const SOCIALSF_SKILLS = [
    TAGS.FLEXIBILITY,
    TAGS.TEAMWORK,
    TAGS.INITIATIVE,
    TAGS.CRITIC,
    TAGS.PROBLEMRES,
    TAGS.LEARN,
];
const SOFTWARE_SKILLS = [
    TAGS.MYSQL,
    TAGS.MONGODB,
    TAGS.DOCKER,
    TAGS.LINUX,
    TAGS.POWERSHELL,
    TAGS.FIREBASE,
    TAGS.HTML,
    TAGS.CSS,
    TAGS.DENO,
    TAGS.NODE,
    TAGS.GIT,
    TAGS.GITHUB,
    TAGS.KUBERNETES
];
---

<div class="text-white">
    <h3 class="text-xl font-semibold my-2 pt-6">Languages</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            LANGUAGE_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5 text-white" />
                </Tag>
            ))
        }
    </ul>
    <h3 class="text-xl font-semibold my-2 pt-6">Cloud Tech</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            CLOUD_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5 text-white" />
                </Tag>
            ))
        }
    </ul>
    <h3 class="text-xl font-semibold my-2 pt-6">Automations</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            AUTOMATION_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5 text-white" />
                </Tag>
            ))
        }
    </ul>
    <h3 class="text-xl font-semibold my-2 pt-6">CI | CD</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            CICD_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5 text-white" />
                </Tag>
            ))
        }
    </ul>
    <h3 class="text-xl font-semibold my-2 pt-6">Logging and Monitoring</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            LM_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5 text-white" />
                </Tag>
            ))
        }
    </ul>
    <!-- <h3 class="text-xl font-semibold my-2 pt-12">Frameworks</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            FRAMEWRK_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5" />
                </Tag>
            ))
        }
    </ul> -->
    <h3 class="text-xl font-semibold my-2 pt-6">Soft Skills</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            SOCIALSF_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5" />
                </Tag>
            ))
        }
    </ul>
    <!-- <h3 class="text-xl font-semibold my-2 pt-12">Otros</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            SOFTWARE_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5" />
                </Tag>
            ))
        }
    </ul> -->
</div>
